<p>Contact us!</p>

<form
  name="contact"
  method="POST"
  data-netlify="true"
  action="/thanks"
  enctype="multipart/form-data"
>
  <p>
    <label>Your Name: <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>State your business: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Submit</button>
  </p>

  <input type="hidden" name="form-name" value="contact" />
</form>
